@{
    ViewBag.Title = "Demandes de Services";
    Layout = "~/Views/Shared/LayoutTest.cshtml";
}

<body>

    <h6>Votre publication a bien été pris en compte, elle est en attente d'autorisation pour sa publication</h6>
    <h5>
        @*     @Html.ActionLink("Publier une autre demande de Service", "CreerDemandeService", "Services")    *@
    </h5>


</body>


