@{
    ViewBag.Title = "Demandes de Services";
    Layout = "~/Views/Shared/LayoutTest.cshtml";
}

<body>

    <h6>Votre message a bien été envoyé</h6>
    <h5>
        @*     @Html.ActionLink("Publier une autre demande de Service", "CreerDemandeService", "Services")    *@
    </h5>


</body>


