@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/LayoutTest.cshtml";
}


<section>
    <div class="container" style="position: relative">
        <div class="img-responsive" style="width: 100%; max-width: 100%">
            <img src="~/images/Entraide.jpg" alt="bannière de la page" style="width: 100%; max-width: 100%; opacity: .2;" />
        </div>

        <div class="img-overlay" style="position: absolute; top: 5%; margin-left: 5%; margin-right: 5%;">
            <h2 style="text-align: center; font-weight: bold;">Les valeurs de notre association</h2>

            <h3 style="text-decoration: underline;">Service</h3>
            <p>
                Le sens du service est avant tout un état d’esprit dans l’association :
                être disponible et savoir s’adapter.
                Nous nous engageons à offrir un service personnalisé de qualité.
            </p>

            <h3 style="text-decoration: underline;">Passion</h3>
            <p>
                Notre association entretient la passion de l’automobile,
                et aide à la diffusion de cette passion au plus large public.
            </p>

            <h3 style="text-decoration: underline;">Proximité</h3>
            <p>
                Ayant une volonté de s'impliquer dans la culture et la vie locale de chaque ville.
                Nous apportons une attention particulière à la proximité de l’offre de nos services avec nos différents interlocuteurs.
                Nous sommes proches de nos adhérents pour satisfaire leurs besoins et pour travailler dans des conditions harmonieuses.
            </p>

            <h3 style="text-decoration: underline;">Respect</h3>
            <p>
                Le respect d’autrui est ancré dans la culture de notre association, animé par des valeurs humaines fortes.
                Respecter l’autre, c’est l’écouter, le traiter équitablement comme dans le conseil.
                C’est également tenir ses engagements dans la durée, pour tout adhérent.
                Le respect dans l’association, c’est toujours gagnant - gagnant.
            </p>

            <h3 style="text-decoration: underline;">Solidarité</h3>
            <p>
                La plateforme joue un rôle d’intermédiaire facilitant la mise en relation entre particuliers.
                Celle-ci constitue une aventure humaine valorisant la solidarité, l’entraide, et le partage.
                Elle favorise l’épanouissement personnel de ses adhérents et le développement de leurs compétences.
            </p>
        </div>
    </div>
</section>