@model Projet2_BDD.ViewModels.MsgUserViewModel


@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/LayoutTest.cshtml";
}

<!-- about breadcrumb -->
@*<section class="w3l-about-breadcrumb position-relative text-center">
        <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
            <div class="container py-lg-5 py-3">
                <h2 class="title"> Contactez-nous</h2>
                <ul class="breadcrumbs-custom-path mt-2">
                    <li><a href="#url">Home</a></li>
                    <li class="active"><span class="fa fa-angle-double-right mx-2" aria-hidden="true"></span> Contact </li>
                </ul>
            </div>
        </div>
    </section>*@
<!-- //about breadcrumb -->
<section class="w3l-contact-11">
    <div class="form-41-mian py-5">
        <div class="container py-lg-4">
            <div class="row align-form-map">
                <div class="col-lg-6 contact-left pr-lg-4">
                    <div class="partners">
                        <div class="cont-details">
                            <div class="title-content text-left">
                                <h3 class="hny-title" style="text-transform: none;">Contactez-nous</h3>
                            </div>
                            @*<p class="mt-3 mb-4 pr-lg-5">
                                    Bonjour, Nous sommes disponibles par e-mail ou par téléphone. Envoyez-nous un message pour que nous puissions en parler davantage
                                </p>*@
                            <h6 class="mb-4"> Pour plus d'informations ou une demande de renseignements sur notre association et nos services, n'hésitez pas à nous contacter par e-mail ou par téléphone.</h6>
                        </div>
                        <div class="hours">
                            <h6 class="mt-4">Email:</h6>
                            <p>
                                <a href="mailto:info@example.com">
                                    info@example.com
                                </a>
                            </p>

                            <h6 class="mt-4">Contact:</h6>
                            <p class="margin-top">
                                <a href="tel:+(33) 333 999 8899">
                                    +(33)
                                    333 999 8199
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 form-inner-cont">
                    <div class="title-content text-left">
                        <h3 class="hny-title mb-lg-5 mb-4" style="text-transform: none;">Envoyez-nous un message</h3>
                    </div>
                   
                            @using (Html.BeginForm())
                            {
                                <div class="form-input">
                                    @Html.LabelFor(m => m.Mail.Msg)
                                    @Html.TextAreaFor(m => m.Mail.Msg, new { @class = "form-control" })
                                </div>

                                <div class="submit-button text-lg-right">
                                    <button type="submit" value="Save">Envoyer</button>
                                    <button type="reset">Effacer</button>
                                </div>
                            }
                        
                       
                </div>
            </div>
        </div>
    </div>

</section>
<!-- //contact-form -->
<!-- Template JavaScript -->
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/theme-change.js"></script>
<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- disable body scroll which navbar is in active -->
<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
